<html>
  <head>
    <title>GraphXR iframe example</title>
  </head>
  <body>
    <h2>Dashboard</h2>
    <p>email: {{email}}, oAuthToken: {{oAuthToken}}</h3>
    <p>To signout, restart this app</p>
    <iframe
      width="100%"
      height="500px"
      src="http://localhost:9000/projects?token={{oAuthToken}}&email={{email}}"
    ></iframe>
  </body>
</html>