<html>

  <head>
    <title>Sign in</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <h2>GraphXR iframe example</h2>
    <a role="button" href="/oauth2/login" class="btn">Signin to Keycloak</a>
  </body>

</html>